{% extends 'base.html' %}

{% block title %} {{super()}} - Profile{% endblock %}



{% block content %}

   <section class="corpo" text-center> 
        <img src="{{ url_for('static',filename="imagens/profile.png") }}">
        <h1 class="username">{{ current_user.username }}</h1>

        <div class="topnav" >
                <a href="{{ url_for('profile', username=current_user.username)}}" class="activate">Toiltes</a>
                <a href="{{ url_for('followers',username=current_user.username) }}">Seguidores</a>
                <a href="{{ url_for('following', username=current_user.username)}}">seguindo</a>
        </div>

        <ul>
            {% for post in posts %}
               <lo> <div class="card">
                        <div class="card-header">
                                <p class="hora">2018, november, 18</p>
                        </div>

                        <div class="card-body">
                                
                        
                        <p>{{ post }}</p>
                        
                        
                        </div>
                     </div>
                </lo>
            {% endfor %}
        <ul>
        


   </section>
{% endblock %}
